<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJ66bQ9IPg7gSp-zx6KrPNa3vme5eRAQM</string>
	<key>GCM_SENDER_ID</key>
	<string>1002254054572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trainwise.app</string>
	<key>PROJECT_ID</key>
	<string>trainwise-ac8cc</string>
	<key>STORAGE_BUCKET</key>
	<string>trainwise-ac8cc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002254054572:ios:7b6b23a5e089882e3a1b09</string>
</dict>
</plist>